/* ! 🔥 💪🏻 Bn Ramadan fullstack MERN project 2 ( E-commerce fullstack app ) */
/* ! " The end of this project is the completing of future successes and creativity , Just strive, be patient, commit and keep going. " */
/* ! 🔥 💪🏻 Always forward ! 💪🏻 🔥 */
.App {
  text-align: center;
  background: linear-gradient(135deg, #1e1e2c, #282c34, #1e1e2c);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
  animation: App-logo-bounce 3s infinite ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear, App-logo-bounce 3s infinite ease-in-out;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.App-header {
  background: radial-gradient(circle, rgba(40, 44, 52, 0.8), rgba(30, 30, 44, 0.8));
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: calc(12px + 2vmin);
  color: #ffffff;
  max-width: 90%;
  margin: auto;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-size: calc(12px + 1vmin);
  padding: 10px 20px;
  background: #20232a;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.App-link:hover {
  color: #ffffff;
  background: #61dafb;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}
